# Dependency directories
node_modules/

# Logs
logs
*.log
npm-debug.log*

# dotenv environment variables file
.env

# Kafka certs read from env vars (these files will be generated)
client.crt
client.key
